@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/*RESET */
html, body, figure, div, input, textarea, p, h2, h3, h4, h5, h6, ul, summary, footer, main, aside{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

/*GERAL*/
:root{
    --primary-color-ligther:#CCF4FE;
    --primary-color-darker:#2d6097;
    --second-color:#518cca;
    --third-color:#360b3d;
    --fourth-color: #626EDA;
    --first-token:#D93D27;
    --second-token:#EFA53A;
    --white: #fff;
    --font-title: 'Staatliches', cursive;
    --font-body:  'Baloo Tammudu 2', cursive;
}

body {
    background-color: var(--primary-color-darker);
}

main {
    background-color: var(--primary-color-ligther);
    border-bottom: 5px solid var(--second-token);
}

h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    color: #ff9500;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
    max-width: 320px;
}

.holding__token{
    height: 50px;
    width: calc(35px * 7 + 7px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-body);
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 1.1rem;
    padding-left: 2.5rem;
    color: var(--third-color);
}

.holding__token .disco {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--second-token);
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(168,88,26,0.4); 
    box-shadow: inset 0px 0px 10px 5px rgba(180, 85, 12, 0.4);
}

.holding__token .disco_vermelho{
    background-color: var(--first-token);
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(131,38,26,0.4); 
    box-shadow: inset 0px 0px 10px 5px rgba(131,38,26,0.4);
}

.container__toy{
    display: flex;
    width: 100%;
    min-height: 300px;
}

.container__toy .toy__stand-leg {
    width: calc((100% - (35px * 7 + 7px) / 2));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.toy__stand-leg .piece-one{
    height: 60%;
    width: 10px;
    background-color: var(--third-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.left-part .piece-one{
    margin-left: 15px;
}

.right-part .piece-one{
    margin-right: 15px;
}

.container__toy_base {
    display: flex;
    height: 10px;
    width: 100%;   
}

.toy_base__piece {
    height: 100%;
    width: 15%;
    background-color: var(--third-color);
    border-radius: 3px;
}

.empty-space {
    height: 100%;
    width: 75%;
    background-color: transparent;
}

.container__game{
    display: flex;
    border-radius: 5px;
    border: 4px solid var(--second-color);
    width: calc(35px * 7 + 7px);
    height: calc(35px * 6 + 7px);
}

.container__game .column .cell{
    background-color: var(--second-color);
    width: 35px;
    height: 35px;
    border: 2px solid var(--second-color);
}
.container__game .column .cell .circle{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--primary-color-ligther);
}

#fichaVermelha {
    background-color: var(--first-token);
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(131,38,26,0.4); 
    box-shadow: inset 0px 0px 10px 5px rgba(131,38,26,0.4);
}

#fichaLaranja {
    background-color: var(--second-token);
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(168,88,26,0.4); 
    box-shadow: inset 0px 0px 10px 5px rgba(180, 85, 12, 0.4);
}

#table-container{
    z-index: 1;
}

#middle::before{
    content: "";
    position: absolute;
    z-index: 0;
    background-color: var(--third-color);
    width: calc(35px * 7 + 30px);
    height: 10px;
    margin: 0 auto;
    top: calc(35px * 6);
    left: 0;
    right: 0;
    text-align: center
}

.modal_pai{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #01010180;;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-family: var(--font-body);
}

.modal_filho{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--fourth-color);
    border: 5px solid var(--second-token);
    width: 250px;
    height: 270px;
    border-radius: 16px;
    text-align: center;
}

.modal_filho p{
    line-height: 1.7rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 0.1rem;    
}

.modal_filho button{
    width: 85%;
    height: 45px;
    border-radius: 8px;
    border-style: none;
    font-size: 1.1rem;
    padding-top: 0.2rem;
    border: 2px solid var(--second-token);
    background-color: #be3826;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-body);
    cursor: pointer; 
}

.modal_filho button:active{
    background-color: #631d14;
}

.hidden{
    display: none;
}

/* Footer */
.container__score h2 {
    font-family: var(--font-title);
    color: var(--white);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    padding-top: 0.7rem;
}

#jogador1 {
    background-color: #D93D27;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(131,38,26,0.4); 
    box-shadow: inset 0px 0px 10px 5px rgba(131,38,26,0.4);
}

#jogador2 {
    background-color: #EFA53A;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(168,88,26,0.4); 
    box-shadow: inset 0px 0px 10px 5px rgba(180, 85, 12, 0.4);
}

#score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vmax;
    width: 280px;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: var(--fourth-color);
    border: 3px solid var(--second-token);
    border-radius: 20% 20% 10% 10% / 75% 75% 15% 15%;
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(68,78,163,0.4); 
    box-shadow: inset 0px 0px 10px 5px rgba(68,78,163,0.4); 
}

#display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#esquerda, #direita {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#esquerda {
    margin-right: 1rem;
}

#direita {
    margin-left: 1rem;
}

.player-name {
    font-family: var(--font-body);
    color: var(--white);
    font-weight: 500;
    font-size: 1.25rem;
    max-height: 30px;

}

.points {
    font-family: var(--font-body);
    color: var(--white);
    font-weight: 700;
    font-size: 1.8rem;
}
.efeito{
    box-shadow: 0px 0px 2px 2px yellow;
}
  
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #2460a1;
    transition: 1s;
    z-index: 3;
  }
  
#intro form {
      width: 300px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      border: 8px solid #EFA53A;
      background: #518cca;
      border-radius: 16px;
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
                  inset -2px -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #intro input,
  #intro button {
      color: #383838;
      background: rgba(255, 255, 255, 0.2);
      margin: 10px;
      padding: 15px;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      border: 5px solid transparent;
      outline: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
      transition: 0.25s;
     font-family: 'Quicksand', sans-serif;
  }
  
  #intro input {
      font-weight: 600;
  }
  
  #intro input:nth-of-type(1):focus {
      border-color: #4b8bc1;    
  }
  
  #intro input:nth-of-type(2):focus {
      border-color: #e17367;
  }
  
  #intro p {
      margin: 0 10px;
      font-weight: 600;
      font-size: 14px;
      opacity: 0;
      transition: 0.15s;
      font-family: 'Quicksand', sans-serif;
  }
  
  #intro button {
      background: #fff;
      font-weight: 700;
      cursor: pointer;
  }
  
  #intro button:hover {
      transform: scale(1.02);
  }


/*----------------------------- Medias Queries---------------------------------- */
@media (min-width: 768px) {

    .container{
        max-width: 780px;
    }

    .holding__token{
        height: 100px;
        width: calc(60px * 7 + 16px);
        font-size: 2rem;
        padding-left: 3rem;
    } 

    .holding__token p {
        padding-top: 1rem;
    }

    .holding__token .disco {
        width: 60px;
        height: 60px;
    }

    .container__toy{
        width: 80%;
        height: 500px;    
    }
    
    .container__toy .toy__stand-leg {
        width: calc(90% - (60px * 7 + 16px) / 2);
    }

    .toy__stand-leg .piece-one{
        height: 60%;
        width: 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    .left-part .piece-one{
        margin-left: 5px;
    }
    
    .right-part .piece-one{
        margin-right: 5px;
    }
    
    .container__toy_base {
        height: 20px;
        width: 80%;
    }
    
    .toy_base__piece {
        border-radius: 8px;
    }
       
    .container__game{
        border-radius: 10px;
        border: 12px solid var(--second-color);
        width: calc(60px * 7 + 42px);
        height: calc(60px * 6 + 18px);
    }

    .container__game .column:hover > .cell, .column:hover{
        background-color: #71a1d4;
        border-color: #71a1d4;
    }

    .container__game .column .cell{
        width: 60px;
        height: 60px;
        border: 5px solid var(--second-color);
        cursor: pointer;
    }

    #middle::before{
        content: "";
        position: absolute;
        z-index: 0;
        background-color: var(--third-color);
        width: calc(60px * 8 + 50px);
        height: 20px;
        margin: 0 auto;
        top: calc(60px * 6);
        left: 0;
        right: 0;
        text-align: center
    }
    
    .modal_filho{
        width: 400px;
        height: 300px;
    }

    .modal_filho p {
        font-size: 2rem;
    }

    .modal_filho button:hover{
        background-color: #631d14;
    }
    
    .container__score{
        display: unset;
        bottom: 5vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        width: 280px;
        height: 180px;  
    }

    #score {
        justify-content: space-evenly;
        height: 25vmax;
        height: 100%;
        width: 100%;
        border: 5px solid var(--second-token);
        border-radius: 32px;  
    }
    .efeito{
        box-shadow: 0px 0px 6px 3px yellow;
    }

        
    #intro form {
          width: 500px;
      }
      
      #intro input,
      #intro button {
          font-size: 30px;
      }
}

@media (min-width: 1060px){
    .container__toy{
        height: 450px;    
    }

    .container__score{
        bottom: unset;
        right: unset;
        top: 12%;
        left: 2%;
        width: 240px;
        height: 180px;  
    }
}

@media (min-width: 1440px){
    .container__toy{
        height: 550px;    
    }

    .container__score{
        top: 12%;
        left: 5%;
        width: 280px;
        height: 200px;  
    }
}